<div class="container">
    <h1 class="text-center">Calculadora de intereses</h1>
    <div class="row justify-content-center align-items-center g-md-5">
        <div class="col-md-4">
            <form class="form mb-5" [formGroup]="FormInversion" (ngSubmit)="EnviarDatosInversion()" >
                <fieldset class="border border-dark">
                  <legend>Ingresa los siguientes datos de la inversión</legend>
                    <div class="mb-3 mt-3">
                        <label for="InversionInicial" class="form-label">Inversión Inicial</label>
                        <input type="number" min="0" pattern="^[0-9]+" onkeypress="return event.charCode >= 48" class="form-control" name="InversionInicial" id="InversionInicial" formControlName="InversionInicial" [(ngModel)]="DatosInversion.inversionInicial">
                        <small>Debe ser mayor o igual que $1000</small>
                    </div>
                    <div class="mb-3">
                        <label for="AportacionAnual" class="form-label">Aportación Anual</label>
                        <input type="number" min="0" pattern="^[0-9]+" onkeypress="return event.charCode >= 48" class="form-control" name="AportacionAnual" id="AportacionAnual" formControlName="AportacionAnual" [(ngModel)]="DatosInversion.aportacionAnual">
                        <small>Debe ser mayor o igual que 0</small>
                    </div>
                    <div class="mb-3">
                        <label for="PorcentajeIncremento" class="form-label">% de Incremento a la Aportación Anual</label>
                        <input type="number" min="0" pattern="^[0-9]+" onkeypress="return event.charCode >= 48" class="form-control" name="PorcentajeIncremento" id="PorcentajeIncremento" formControlName="PorcentajeIncremento" [(ngModel)]="DatosInversion.porcentajeIncremento">
                        <small>Debe ser mayor o igual que 0</small>
                    </div>
                    <div class="mb-3">
                        <label for="AniosInversion" class="form-label">Años de Inversión</label>
                        <input type="number" min="1" pattern="^[0-9]+" onkeypress="return event.charCode >= 48" class="form-control" name="AniosInversion" id="AniosInversion" formControlName="AniosInversion" [(ngModel)]="DatosInversion.aniosInversion">
                        <small>Debe ser mayor o igual que 1</small>
                    </div>
                    <div class="mb-3">
                        <label for="PorcentajeRendimiento" class="form-label">% de Rendimiento de Inversión</label>
                        <input type="number" min="0" pattern="^[0-9]+" onkeypress="return event.charCode >= 48" class="form-control" name="PorcentajeRendimiento" id="PorcentajeRendimiento" formControlName="PorcentajeRendimiento" [(ngModel)]="DatosInversion.rendimientoInversion">
                        <small>Debe ser mayor o igual que 0</small>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#modalId">Calcular inversión</button>
                  </div>
                </fieldset>
            </form> <!--FIN DE FORM-->
        </div> <!--FIN DE COL.MD-4-->
        <div class="col-md-8">
            <h3 class="text-center">Resultados calculados para tu inversión</h3>
            <div class="table-responsive">
                <table class="table table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">Año</th>
                            <th scope="col">Saldo Inicial</th>
                            <th scope="col">Aportación</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Saldo Final</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr class="fw-bold" *ngFor="let ResultadoInversion of ListaInversiones">
                            <td>{{ResultadoInversion.anio}}</td>
                            <td>{{ResultadoInversion.saldoInicial}}</td>
                            <td>{{ResultadoInversion.aportacion}}</td>
                            <td>{{ResultadoInversion.rendimiento}}</td>
                            <td>{{ResultadoInversion.saldoFinal}}</td>
                        </tr>
                    </tbody>
                </table> <!--FIN DE TABLE-->
                <div class="d-flex justify-content-around my-5">
                    <h5 class="fs-6">Monto Final: {{MontoFinal}}</h5>
                    <h5 class="fs-6">Ganancia por inversión: {{GananciaFinal}}</h5>
                </div> <!--FIN DE D-FLEX-->
            </div> <!--FIN DE TABLE-RESPONSIVE-->
        </div> <!--FIN DE COL-MD-8-->
    </div> <!--FIN DE ROW-->
</div> <!--FIN DE CONTAINER-->

<!--MUESTRA EL MENSAJE EN UN COMPONENTE MODAL-->
<div class="modal fade" id="modalId">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">{{TituloModal}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {{DescripcionModal}}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div> <!--FIN DE MODEL-CONTENT-->
    </div> <!--FIN DE MODEL-DIALOG-->
</div> <!--FIN DE MODEL-->